<h3>🛒 Your Cart</h3>

@if (cartItems | async; as items) {

@for (item of items; track item.id) {

@let count = (getCount(item.id) | async) ?? 0;


<div class="container">

    <div class="image-section">
        <img [src]="item.image" width="100" />
    </div>

    <div class="details-section">
        <h3>{{ item.name }}</h3>
        <p>Price: ₹ {{ item.price }}</p>

        @if(item.quantity>count){
        <p><b>In stock</b></p>
        }@else{
        <p style="color: red;"><b>Out of stock</b></p>
        }

        <div class="qty-box">
            <button (click)="decreaseQuantity(item.id)" [disabled]="count === 0">➖</button>

            <span>{{ count }}</span>

            <button (click)="addToCart(item)" [disabled]="count >= item.quantity">➕</button>
        </div>

        <button class="remove-from-cart" (click)="removeFromCart(item.id)">Remove from Cart</button>

        <span class="sub-total">
            <b>Subtotal ({{ count }} Nos)</b> : ₹ {{ count * item.price }}
        </span>

    </div>

</div>

<hr>

}

}