.prod-form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}


.prod {
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}


.prod:hover {
    transform: scale(1.05);
}


.prod img {
    height: 150px;
    width: 250px;
    object-fit: contain;
    border-radius: 8px;
}

.price {
    font-weight: bold;
    margin: 10px 0;
}

.add-btn {
    background-color: green;
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}


.qty-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.go-to-cart{
    display: block;
    margin-bottom: 20px;
}

.qty-box button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}
.cart-controls{
    margin-top: 10px;
}