.container {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.image-section img {
    width: 200px;
    height: 300px;
    border-radius: 10px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}


.details-section {
    /* width: 90%; */
    justify-content: center;
    align-items: center;
}

.price {
    font-size: 22px;
    font-weight: bold;
    color: green;
}

.desc {
    margin: 15px 0;
    color: #555;
}

.qty-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.qty-box button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

.add-btn {
    background-color: green;
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}