<div class="prod-form">
    <div class="prod" *ngFor="let p of products | async">
        <img [src]="p.image" [alt]="p.name" width="100" style="height: 100px;width: 150px;" />
        <h3>{{p.name}}</h3>
        <p style="font-weight: bolder;">Price : {{p.price}}</p>
        <p>Added: {{ (getCount(p.id) | async) }}</p>

        <div class="btn">
            <div class="like">
                <button (click)="like(p.id)">
                    {{ p.liked ? '❤️' : '🤍' }}
                </button>
            </div>
            <div class="cart"><button (click)="addToCart(p)">Add to Cart</button></div>
        </div>
    </div>
</div>